[2018-09-03 09:06] mvonline opened #1 "Download search Result and Dashboard Values as CSV"
Hi.
Will be thankful if you add the possibility to download Dashboard value details (such as disabled user details, invalid tokens, removed devices, Users who have not returned to the system and etc)  and Search result as CSV or Provide official an API for getting those value.
thanks a lot.

[2018-09-03 12:24] behrad commented on #1
We sure will support CSV export in two types:

1. exporting specific chart values as CSV

2. exporting custom data as CSV

currently you can email us about the specific data you need, and we will help you out.

[2018-09-17 07:00] Mehrdad-Dadkhah opened #2 "Search by user id not work in panel"
Hi
Search by user id not work in panel.
please check it

tnx

[2018-09-17 07:20] jangholi commented on #2
It will be fixed in the next version

[2018-09-17 10:30] Mehrdad-Dadkhah commented on #2
When is your release?
We need it to check some problems and it's very necessary for us

[2018-09-17 10:34] Husseinhj commented on #2
<p dir="rtl">@Mehrdad-Dadkhah
شما می‌تونین با استفاده از گزینه جستجو شناسه اقدام به جستجو نام‌کاربری کنین فعلا :</p>
<p dir="rtl"><img src="https://user-images.githubusercontent.com/27139702/45618419-cb11e180-ba8a-11e8-9e85-6b2d067bbde2.png" alt="image"></p>

[2018-09-17 14:29] jangholi commented on #2
@Mehrdad-Dadkhah This issue has been resolved.

[2018-09-17 14:29] #2 closed, assigned to jangholi

[2018-09-17 16:36] mohammadTaghy opened #3 "خطا هنگام درخواست حساب عملیاتی"
سلام
هنگام درخواست حساب عملیاتی می گوید خطایی رخ داده
نمیدونم چیکار کنم.درخواست راهنمایی دارم
با سپاس

[2018-09-18 05:38] amir-yaghoubi commented on #3
<p dir="rtl">@mohammadTaghy مشکل برطرف شد</p>

[2018-09-18 06:40] #3 closed, assigned to amir-yaghoubi

[2018-09-18 08:45] mohammadTaghy commented on #3
با سپاس

[2018-09-18 14:30] mohammadTaghy commented on #3
سلام
من درخواست دادم .حالا چطوری باید بفهمم که عملیاتی شده؟

[2018-09-18 15:39] behrad commented on #3
هفته بعد با شما تماس گرفته میشه و بعد از مشخص شدن جزییات درخواست شما براتون اکانت عملیاتی تعریف میکنیم

[2018-09-18 15:45] mohammadTaghy commented on #3
بسیار ممنون.
اما من ۲روز اپلیکیشن رو روی مایکت سیب اپ گذاشتم و نمیدونستم حساب باید
عملیاتی شود.امکانش هست اولویت من را بالاتر قرار دهید؟

On Tue, 18 Sep 2018, 20:12 Behrad Zari, <notifications@github.com> wrote:

[2018-09-18 15:52] behrad commented on #3
در واقع یعنی شما با حساب سندباکس اپ خودتون رو روی استور گذاشتید؟

[2018-09-18 16:03] mohammadTaghy commented on #3
بله.دقیقا.
و دیدیدم که نوتیف نمیاد.
بعد پرس و جو متوجه این موضوع شدیم.

On Tue, 18 Sep 2018, 20:26 Behrad Zari, <notifications@github.com> wrote:

[2018-09-18 16:19] behrad commented on #3
نوتیف رو می تونید با تنظیماتتون توی پنل بررسی و درست کنید
پنل سندباکس چابک تا هزار کاربر در روز برای شما سرویس میده
شنبه صبح مورد شما رو پیگیری میکنیم باهاتون

[2018-09-18 16:25] mohammadTaghy commented on #3
بسیار سپاسگذارم

On Tue, 18 Sep 2018, 20:54 Behrad Zari, <notifications@github.com> wrote:

[2018-09-22 07:14] mohammadTaghy commented on #3
سلام.وقت بخیر
خوبید؟
برای عملیاتی کردن نام کاری درخواست دادم گفتید امروز باهام تماس
میگیرید.ممنون میشم پیگیری کنید.چون اپلیکیشن در مارکت سیب اپ است.
با سپاس.

On Tue, Sep 18, 2018 at 8:55 PM mohammad taghy Yami <m.taghy.yami@gmail.com>
wrote:

[2018-09-25 06:05] mohammadTaghy opened #4 "درخواست حساب عملیاتی"
با سلام
درخواست حساب عملیاتی کردم.
می خواستم ببینم ثبت شده و چه میزان زمان خواهد برد برای عملیاتی کردن حساب؟

[2018-09-25 06:36] behrad commented on #4
درخواست‌های حساب عمملیاتی ظرف ۲۴ ساعت اداری از زمان درخواست به ایجاد حساب منجر خواهند شد
لطفن ایمیلی که برای اون درخواست داده اید رو بررسی کنید اگر دریافت نکرده بودید برای ما یک ایمیل بزنید با همون ایمیل

[2018-09-25 06:36] #4 closed, assigned to nobody

[2018-09-25 06:40] mohammadTaghy commented on #4
بله ایجاد شده
بسیار سپاسگذارم

On Tue, 25 Sep 2018, 10:06 Behrad Zari, <notifications@github.com> wrote:

[2018-09-27 07:55] #1 closed, assigned to amir-yaghoubi

[2018-09-27 08:08] behrad commented on #1
Shall we keep it open @mvonline ?

[2018-10-20 07:42] zarinpy opened #5 "فیلتر زمان و تاریخ در داشبورد"
سلام
متاسفانه هیچ کونه فیلتری در داشبورد وجود ندارد تا بین دوتاریخ دلخواه گزارش تهیه کنیم

[2018-10-20 07:50] jangholi commented on #5
کدام گزارش و در کدام بخش موردنیاز شماست؟

[2018-10-21 10:04] kamrane opened #6 "رسیدگی به درخواست پنل عملیاتی"
سلام
چرا اینقدر طول میکشه؟
چرا شماره تلفن ندادین؟
چرا نه تلگرامی دارین نه چت آنلاین و نه ...؟؟؟

[2018-10-21 10:36] amir-yaghoubi commented on #6
<blockquote dir="rtl">
<p dir="rtl">چرا اینقدر طول میکشه؟</p>
</blockquote>
<p dir="rtl">زمان ارسال درخواست و آدرس ایمیل سازمانی خودتون را اعلام کنین تا بررسی کنیم.</p>
<blockquote dir="rtl">
<p dir="rtl">چرا شماره تلفن ندادین؟</p>
</blockquote>
<p dir="rtl">برای ارتباط با ما می‌توانید از طریق ایمیل: <a href="mailto:info@chabok.io">info@chabok.io</a> و یا از طریق github اقدام نمایید.</p>

[2018-10-21 11:00] kamrane commented on #6
official.hrd.co@gmail.com

[2018-10-21 11:08] amir-yaghoubi commented on #6
اپ آیدی خودتون رو اعلام کنین.
من از شما عذر‌خواهی میکنم، درخواستی برای این ایمیل در سیستم ما ثبت نشده است.
در صورت امکان مجددا درخواست خودتون رو ارسال نمایید.

[2018-10-22 09:39] alireaza opened #7 "در سندباکس هوک کار نمیکنه؟"
سلام
وقت بخیر

در سندباکس هوک کار نمیکنه؟

[2018-10-23 07:41] jangholi commented on #7
duplicate issue [#32](https://github.com/chabokpush/chabok-php-demo/issues/32)

[2018-10-23 07:41] #7 closed, assigned to nobody

[2018-11-12 11:25] aliasg opened #8 "مشکل در فعال سازی پوش نوتیفیکیشن"
با سلام خسته نباشید
ما براساس آموزی های شما بر روی سیستم اندروید پوش نوتیفیکشن رو فعال کردیم اما نمیتوانیم ارسال کنیم و فعال نمیشود درپنل لطفا راهنمایی کنید با تشکر

[2018-11-12 12:08] amir-yaghoubi commented on #8
<p dir="rtl">سلام</p>
<p dir="rtl">منظورتون از فعال نمی‌شود. در قسمت تنظیمات پلتفرم‌ها، پلتفرم اندروید به صورت غیر فعال نمایش داده می‌شود؟</p>
<p dir="rtl">اگر این مورد هست، تنظیمات زمانی به حالت فعال در خواهند آمد که شما علاوه بر تنظیم، حداقل یک کاربر بر روی آن پلتفرم رجیستر کرده باشید.</p>
<blockquote dir="rtl">
<p dir="rtl"> اما نمیتوانیم ارسال کنیم </p>
</blockquote>
<p dir="rtl">شما بخش <a hr

[2018-11-15 07:14] zeoses commented on #8
سلام بنده هم متناسب با کانفیک ها کار ها رو انجام دادم ولی در برنامه هیچ نوتیفیکیشنی دریافت نشد
و وارنیگ زیر رو در برنامه مشاهده کردم .. .

![dc24](https://user-images.githubusercontent.com/15188675/48536236-2f9ec080-e8c3-11e8-8022-6a96d0a19785.png)

[2018-11-15 07:21] behrad commented on #8
@zeoses
فکر می کنم سوال تون رو در بخش مرتبط نپرسیدید
می تونید در بخش اندروید یا ریکت بپرسید

[2018-11-15 07:23] Husseinhj commented on #8
<blockquote dir="rtl">
<p dir="rtl">سلام بنده هم متناسب با کانفیک ها کار ها رو انجام دادم ولی در برنامه هیچ نوتیفیکیشنی دریافت نشد</p>
</blockquote>
<p dir="rtl">@zeoses لطفا بفرمایید از کدام کتابخانه ریکت‌نیتو چابک استفاده می‌کنید؟
<a href="https://github.com/chabokpush/chabok-client-rn-js">react-native pure JS</a> یا <a href="https://github.com/chabokpush/chabok-client-rn">react-native bridge</a

[2018-11-15 07:23] Husseinhj commented on #8
<p dir="rtl">@aliasg آیا مشکل شما حل شده است؟</p>

[2018-11-15 07:31] zeoses commented on #8
ممنون از راهنماییتون در بخش مربوطه مطرح کردم ..
آیا سوالم رو از اینجا حذف کنم ... ؟

[2018-11-18 05:36] ehsan-dev opened #9 "ارسال نوتیفیکیشن... هیچ اعلانی دریافت نمی شود"
سلام... خسته نباشید... بنده تنظیمات پوش چابک را در  اندروید استادیو فعال کردم.. کاربر ثبت نام میشه در پنل چابک کاربر ثبت نام شده قابل نمایش است و همه چی درست کار میکند... اما ارسال پیام روی گوشی کاربر نمایش داده نمی شود....
از کتابخانه دیگر استفاده نمیکنیم... تنظیمات گوشی و هر ان جیزی که در دستور العمل نوشتید رعایت شده .. اما همچنان پیام ارسال نمی شود...
راه حلی دارید؟ ممنون

[2018-11-18 06:17] Husseinhj commented on #9
<p dir="rtl">آیا بخش <a href="https://doc.chabokpush.com/android/troubleshoot.html#%DB%B1--%D9%BE%D9%88%D8%B4-%D9%86%D9%85%DB%8C%DA%AF%DB%8C%D8%B1%D9%85">عیب‌یابی مستندات اندروید</a> را مطالعه کرده‌اید؟
با مشاهده <a href="https://github.com/chabokpush/chabok-starter-android">پروژه استارتر</a> می‌توانید نمونه کد و نحوه استفاده از چابک را مشاهده کنید.</p>
<blockquote dir="rtl">
<p dir="rtl">ارسال پی

[2018-11-20 06:21] ehsan-dev opened #10 "اتصال به چابک با موفقیت انجام شده اما همچنان پوش دریافت نمی شود"

[2018-11-20 06:21] #10 closed, assigned to nobody

[2018-11-20 06:26] ehsan-dev opened #11 "اتصال به چابک با موفقیت انجام شده اما همچنان پوش دریافت نمی شود"
سلام.. خسته نباشید...در کانفیگ اولیه پروژه اندرویدی ما اتصال به چابک صورت گرفته و کاربر در چابک ثبت نام می شود
 اما همچنان پوش دریافت نمی شود... تمام نکاتی که مشخص کردید انجام شده.. خطایی هم در لاگ پیدا نیست.... آیا امکانش هست با انی دسک  بیاید رو سیستم ما و مشکل را بررسی کنید... هزینه این کار هم پرداخت می کنیم... ممنون

[2018-11-20 07:19] Husseinhj commented on #11
<p dir="rtl">شما این موضوع را در issue #9  مطرح کرده‌اید. لطفا در همان issue کامنت خود را قرار دهید</p>

[2018-11-20 07:19] #11 closed, assigned to nobody

[2018-11-20 07:27] Husseinhj commented on #9
<p dir="rtl">@ehsan-dev لطفا <code>appId</code> پنل خود را برای ما قرار دهید</p>

[2018-11-20 11:47] ehsan-dev commented on #9
امکانش هست یک شماره تماس به ما بدید؟

[2018-11-20 12:05] Husseinhj commented on #9
@ehsan-dev در صفحه [تماس با ما](https://chabokpush.com/contact.html) وب‌سایت می‌توانید راه‌های ارتباطی با ما را مشاهده کنید

[2018-11-21 12:41] amir-yaghoubi commented on #9
<p dir="rtl">این issue به دلیل نامرتبط بودن با پنل به بخش <a href="https://github.com/chabokpush/chabok-client-android/issues/2#issuecomment-440619572">اندروید</a> منتقل شد.</p>

[2018-11-21 12:41] #9 closed, assigned to nobody

[2018-12-03 09:40] kamrane opened #12 "مشکل در نمایش وب پوش"
توسط سرور پوش ارسال میشه
سیستم شما دریافت میکنه
وضعیت پوش رو تحویل شده میزنه
اما پوش به کاربر نمیرسه

[2018-12-03 09:41] kamrane commented on #12
آیا ServiceWorker مشکل داره؟

[2018-12-03 09:48] amir-yaghoubi commented on #12
<p dir="rtl">از انجایی که این issue در بخش نامرتبط قرار دارد من یک <a href="https://github.com/chabokpush/chabok-client-js/issues/16">issue</a> در بخش جاوا اسکریپت با این موضوع ایجاد کردم. لطفا مشکل را issue جدید دنبال کنین</p>

[2018-12-03 09:49] #12 closed, assigned to nobody

[2018-12-03 09:51] kamrane commented on #12
خب شاید جاوا اسکریپت نباشه که با سرعت نور به اینجا منتقلش کردین!!!

[2018-12-03 09:51] kamrane commented on #12
بین این همه ارسال ممکنه بعضی ها رو هم نشون بده!!!!!!!!!

[2018-12-03 09:55] amir-yaghoubi commented on #12
<p dir="rtl">طبق عنوان issue و موضوعی که مطرح کردین (وب پوش) و اشاره به <code>serviceWorker</code>  برداشت من این بود که این مشکل مربوط به اس‌دی‌کی جاوا اسکریپت هست</p>

[2018-12-03 09:57] amir-yaghoubi commented on #12
<p dir="rtl">لطفا مشکل خود را کامل تر  در صورت وجود خطا چه در اس‌دی‌کی و چه در پنل قسمت پیام‌ها قرار بدین تا بهتر راهنمایی کنیم.</p>
<p dir="rtl"> این مشکل را در <a href="https://github.com/chabokpush/chabok-client-js/issues/16">issue</a> دنبال کنین تا در صورتی که برنامه‌نویسان دیگر نیز با مشکل مشابهی مواجه شدن راحت تر به جواب برسن</p>
<p dir="rtl">با تشکر</p>

[2018-12-03 10:26] kamrane commented on #12
کاربر ثبت شده
![1](https://user-images.githubusercontent.com/16122154/49367784-45551800-f702-11e8-9edd-db4994b938c6.png)

برای کاربر 2 تا دستگاه وجود داره
![3](https://user-images.githubusercontent.com/16122154/49367903-9bc25680-f702-11e8-9830-5c5fa1779e78.png)

پوش توسط api ارسال میشه
در بسیاری موارد پوش در هیچ دستگاهی نمایش داده نمیشه
و در سایر موارد فقط برای 1 دستگاه نمایش داده میشه

ولی در گزا

[2018-12-03 11:19] amir-yaghoubi commented on #12
<p dir="rtl">بر اساس تصویر صفحه پیام‌های شما. تنظیمات <code>service worker</code> شما به درستی انجام نشده به همین خاطر ارسال پوش نوتیفیکشین با خطا مواجه شده.
لطفا از نصب <code>service worker</code> و صحت اطلاعات <code>VAPID</code> در پنل و در کلاینت اطمینان حاصل فرمایید. برا مطالعه بیشتر لطفا به <a href="https://dev.doc.chabokpush.com/javascript/troubleshoot.html#%D9%85%D8%B1%D9%88%D8%B1%DA%AF%D8%

[2018-12-03 11:25] kamrane commented on #12
درست
اما مساله تاریخ تحویل هست
که تاریخ وجود دارد آما خود پوش نمایش داده نمی شود

و مهمتر اینکه با همه این تفاسیر برخی موارد پوش نمایش داده می شود!!!!!!!!!!!!!!!!!!

[2018-12-03 11:28] amir-yaghoubi commented on #12
<p dir="rtl">لطفا <strong>payload</strong> پوش ارسالی خود
به همراه کد مربوط به چابک در کلاینت را قرار بدین تا بررسی کنیم.</p>

[2018-12-06 09:09] behzadnm99 opened #13 "ارور You must pass in a subscription with at least an endpoint. در هنگام ارسال پوش"
من این ارور رو دریافت میکنم بعد از ارسال نوتیف لطفا راهنمایی کنید

این ارور رو میده:
You must pass in a subscription with at least an endpoint.

[2018-12-06 13:03] amir-yaghoubi commented on #13
<p dir="rtl">خطای فوق به خاطر ارسال به توکن غیر معتبر رخ می‌ده</p>
<p dir="rtl">لطفا ار فعال بودن سرویس‌ورکر چابک و هم‌خوانی اطلاعات <code>VAPID</code> اطمینان حاصل نمایید. جهت مطالعه بیشتر می‌توانید به بخش <a href="https://doc.chabokpush.com/javascript/troubleshoot.html#%D9%85%D8%B1%D9%88%D8%B1%DA%AF%D8%B1-%D8%A8%D8%B3%D8%AA%D9%87-%D8%A7%D8%B3%D8%AA-%D9%88-%D9%BE%D9%88%D8%B4-%D9%86%D9%85%DB%8C%DA

[2018-12-10 17:01] amkDeveloper opened #14 "مشکل در پوش نوتیفیکیشن"
سلام من میتونم پیام به یک دستگاه ارسال کنم ولی وقتی اپ بسته است پوش و پیام نمیره.
ارسال پوش هم میکنم مینویسه غیرقابل ارسال
میگه دستگاه فاقد توکن یا توکن نامعتبر
مشکل از چیه؟؟؟

[2018-12-10 22:51] amkDeveloper commented on #14
platform ios

[2018-12-11 06:31] Husseinhj commented on #14
<blockquote dir="rtl">
<p dir="rtl">ولی وقتی اپ بسته است پوش و پیام نمیره</p>
</blockquote>
<p dir="rtl">آیا بخش <a href="https://doc.chabokpush.com/ios/troubleshoot.html">عیب‌یابی</a> را مطالعه کرده‌اید؟</p>
<p dir="rtl">از پیکربندی <a href="https://doc.chabokpush.com/ios/troubleshoot.html#%D8%B3%D9%88%D8%A6%DB%8C%DA%86-%D8%B3%D8%B1%D9%88%D8%B1-%D8%B9%D9%85%D9%84%DB%8C%D8%A7%D8%AA%DB%8C-%D8%A7%D9

[2018-12-11 06:38] Husseinhj commented on #6
<p dir="rtl">در صورت وجود مشکل مجددا issue را باز کنید</p>

[2018-12-11 06:38] #6 closed, assigned to nobody

[2018-12-11 06:39] Husseinhj commented on #13
<p dir="rtl">آیا مشکل شما حل شده است؟</p>
@behzadnm99

[2018-12-30 15:56] kamalhoseini opened #15 "شناسه یکسان چند دستگاه"
سلام، خدا قوت
مهندس ، در دریافت نوتیفیکیشن با چند دستگاه که شناسه دستگاه  برای انها یکسان است
مثلا : کروم موبایل و موزیلا دسکتاپ) ، دچار مشکل شدیم )
ایا ممکن است از، ای دی یکسان دستگاه ها باشد؟؟؟؟
متشکرم.

[2018-12-31 06:53] Husseinhj commented on #15
<blockquote dir="rtl">
<p dir="rtl">مثلا : کروم موبایل و موزیلا دسکتاپ) ، دچار مشکل شدیم )</p>
</blockquote>
<p dir="rtl">لطفا در مورد مشکلی که دارید بیشتر توضیح دهید. </p>
<p dir="rtl">آیا پوش‌نوتیفیکیشن دریافت نمی‌کنید؟</p>
<p dir="rtl">در کدام پلتفرم نوتیفیکیشن نمایش داده نمی‌شود؟</p>
<p dir="rtl">آیا روی آن پلتفرم VPN روشن بوده؟</p>
<p dir="rtl">در صورت رخ دادن خطا در دریافت نوتیفیکیشن، به پنل

[2018-12-31 06:56] Husseinhj commented on #14
@amkDeveloper آیا مشکل شما برطرف شده است؟

[2018-12-31 06:59] Husseinhj commented on #8
<p dir="rtl">این issue رو می‌بندم چون به repository مرتبط منتقل شده است</p>

[2018-12-31 06:59] #8 closed, assigned to nobody

[2019-01-05 12:42] maryamiiiiii opened #16 "راهنمای استفاده از چابک در انگولار 6"
با سلام لطفا راهنمای استفاده از چابک در انگولار 6 را قرار دهید

[2019-01-06 07:15] #16 closed, assigned to nobody

[2019-01-06 07:15] amir-yaghoubi commented on #16
Follow up in [#3](https://github.com/chabokpush/chabok-demo-map/issues/3)

[2019-01-06 07:16] Husseinhj commented on #15
@kamalhoseini آیا مشکل شما حل شده است؟

[2019-01-06 07:20] kamalhoseini commented on #15
سلام، با تشکر از پیگیری شما،
service worker جدید رو اضافه کردم ،حل شد.

‫‪Hussein Habibi Juybari‬‏ <‪notifications@github.com‬‏> در تاریخ یکشنبه ۶
ژانویهٔ ۲۰۱۹ ساعت ۱۰:۴۶ نوشت:‬

[2019-01-06 07:22] Husseinhj commented on #15
<blockquote dir="rtl">
<p dir="rtl">سلام، با تشکر از پیگیری شما،</p>
</blockquote>

<p dir="rtl">مرسی از پاسخ شما. من issue رو می‌بندم اگر مشکل مشابه داشتید می‌تونید issue رو باز کنید تا راهنماییتان کنیم</p>

[2019-01-06 07:22] #15 closed, assigned to nobody

[2019-01-08 09:30] rahimasgari opened #17 "gcm یا fcm"
<p dir="rtl">با سلام و احترام</p>
<p dir="rtl">میخواستم بدون سرویس چابک از سرویس قدیمی گوگل یعنی جی سی ام استفاده میکنه یا اینکه از سرویس جدید اف سی ام استفاده میشه.
چون زمانی که در پنل چابک میخوام تنظیمات اندروید رو انجام بدم از من
 gcm api key و gcm sender id
میخواد.</p>

[2019-01-08 10:59] Husseinhj commented on #17
<p dir="rtl">چابک از هر دو استفاده می‌کنه و اینکه چون اپلیکیشن‌های قدیمی‌ای داریم که هنوز رو GCM هستند چابک GCM رو هم هنوز ساپورت می‌کنه  ولی سرور چابک پیش‌فرض به FCM متصل هست و از senderId استفاده نمی‌کنه</p>

[2019-01-24 21:33] informationtechnogy opened #18 "ارسال چندباره یک نوتیف"
یک نوتیف که برای ارسال ثبت شده چندین بار سمت کاربر ارسال و نمایش داده می شود

[2019-01-25 07:25] amiriun opened #19 "پیدا نشدن دستگاه کاربر برای دریافت پوش"
سلام
وقتتون بخیر
تا چند روز پیش برای یک کاربر که پوش ارسال میکردیم بهش میرسید ولی الان به هرکاربری که میخوایم پوش بفرستیم تو پنل میزنه که دستگاه کاربر پیدا نشد و هیچ پوشی ارسال نمیشه
ایمیل من a.alian@shab.ir هستش
ممنون میشم بررسی کنید و دلیلش رو بهم بگید

[2019-01-26 11:43] Husseinhj commented on #19
<blockquote dir="rtl">
<p dir="rtl">تا چند روز پیش برای یک کاربر که پوش ارسال میکردیم بهش میرسید ولی الان به هرکاربری که میخوایم پوش بفرستیم تو پنل میزنه که دستگاه کاربر پیدا نشد و هیچ پوشی ارسال نمیشه</p>
</blockquote>
<p dir="rtl">حساب شمارو بررسی کردیم و شما از تاریخ ۶ دی ماه فقط دارین به یک <code>userId</code> <strong dir="rtl">ثابت</strong> پیام ارسال می‌کنین که این دستگاه از پنل حذف شده به ه

[2019-01-27 07:47] #19 closed, assigned to nobody

[2019-02-23 09:28] kalantari96 opened #20 "devices list"
salam
tu oneSignal mishod ba api liste tamame device ha ya yek device moshakhas ro gereft, hamchin emkani tu chabok vujud dare?

[2019-02-23 09:41] Husseinhj commented on #20
<blockquote dir="rtl">
<p dir="rtl">liste tamame device ha</p>
</blockquote>
<p dir="rtl">بخاطر مسائل  امنیتی این api در دسترس نیست.</p>
<blockquote dir="rtl">
<p dir="rtl">yek device moshakhas ro gereft</p>
</blockquote>
<p dir="rtl">شما می‌تونین <a href="https://api.doc.chabokpush.com/#/installation/installation_fetchById">لیست دستگاه‌های یک userId</a> رو دریافت کنین</p>
<p dir="rtl">و یا می‌تون

[2019-02-23 09:46] mehdibb opened #21 "RangeError: Maximum call stack size exceeded"
This is my code:

[code]

///////////////////////
This is the error:

[code]

[2019-02-23 10:13] kalantari96 commented on #20
ahan doroste, mamnun az rahnamayitun
historye notificationaye ersaliyam nadarim,na?

[2019-02-23 10:51] Husseinhj commented on #20
<p dir="rtl">خیر،‌ این موضوع هم بخاطر مسائل امنیتی در دسترس نیست.</p>
<p dir="rtl">اگه نیازتون رو دقیقا به ما بگین، می‌تونیم بهتر راهنماییتون کنیم. می‌تونین با <a href="https://doc.chabokpush.com/panel/settings.html#%D9%88%D8%A8-%D9%87%D9%88%DA%A9">وب هوک پیام‌های تحویل شده</a> رو دریافت کنین</p>

[2019-02-23 10:56] Husseinhj commented on #21
<p dir="rtl">این موضوع در نسخه جدید کتابخونه pure js حل خواهد شد. می‌تونین موقتا به این شکل که در <a href="https://github.com/chabokpush/chabok-client-rn-js/issues/5#issuecomment-447759521">issue #5</a> گفته شده این موضوع رو حل کنین.</p>

[2019-02-23 10:58] Husseinhj commented on #18
@informationtechnogy

آیا مشکل شما حل شده است؟

[2019-02-23 10:58] #17 closed, assigned to nobody

[2019-02-23 11:15] kalantari96 commented on #20
bebinin man mikham tu panelam in emkanato dashte basham, chon content manageram k nemitune hardafe biad tu dashboarde chabok, mikham yejuri bashe k tu panele khodemun hameye userayi k subscribe kardan ye listi azashun dashte basham harvaght khastam be ye usere khas betunam notif bedam

[2019-02-23 12:50] #21 closed, assigned to nobody

[2019-02-23 19:00] behrad commented on #20
اگر شما هدف‌تون ایجاد یک پنل مجزا برای استفاده از چابک هست این کار با خرید وب‌سرویس‌های خصوصی چابک برای شما امکان پذیر هست اما هزینه زمانی برنامه نویسی و توسعه برای خودتون داره
اگر منظورتون رو درست متوجه شدیم لطفن درخواست یک جلسه کنید تا حضوری بهتر راهنمایی کنیم
اگر نیازتون رو متوجه نشدیم لطفن جزییات بیشتری اینجا یا در ایمیل یا تلفن به ما بدید

[2019-02-24 10:25] kalantari96 commented on #20
لطف می کنین یه شماره تماس بهم بدین؟

[2019-02-24 10:35] behrad commented on #20
در سایت اطلاعات تماس موجود هست

https://chabokpush.com

[2019-02-24 11:31] #20 closed, assigned to nobody

[2019-02-25 06:20] shdehnavi opened #22 "ارتقا به پنل عملیاتی"
سلام
آیا امکانش هست که اپلیکیشن رو بدون اینکه نسخه عملیاتی رو خریده باشیم انتشار دهیم و پس از چندماه نسخه عملیاتی رو خریداری کنیم ؟
یعنی با خرید نسخه عملیاتی، مشکلی در سرویس های قبلی پیش نمیاد و فقط ارتقای سرویس انجام میشه؟ و سرویس پوش اپ با مشکل مواجه نمیشه؟

[2019-02-25 06:27] behrad commented on #22
سلام
امکانش هست بله اما توجه داشته باشید که
۱. نسخه رایگان تعهد و پشتیبانی در قبال هیچ موردی برای اپلیکیشن شما نخواهد داشت
۲. تعداد کاربر روزانه محدود میشه به سقف ۵۰۰ کاربر
۳. اکانت عملیاتی جدا هست از اکانت رایگان و شما مجبور خواهید بود اپلیکیشن رو آپدیت بدید
۴. دیتای شما به طور پیش فرض منتقل نمیشه به حساب عملیاتی و در صورت نیاز به مهاجرت دیتا باید هزینش رو پرداخت کنید

در نهایت، اگر اپلیکیشن شما

[2019-02-25 06:36] #22 closed, assigned to Husseinhj

[2019-03-09 10:54] kamalhoseini opened #23 "عدم ارسال و دریافت نوتیفیکیشن ها توسط همه مخاطبین"
سلام، وقت بخیر
سیستم پیام رسانی به چه صورت است که پیام ها برای یک دستگاه گاهی ارسال شده و توسط ان دریافت میشود، گاهی نمی شود ،  منظور از لودینگ های زرد در وضعیت پیام و الرت قرمز رنگ چیست
در ضمن سرویس ورکر چابک به درستی در سایت ست شده است .اگر اینگونه نبود هیچ پیامی ارسال و دریافت
نمی شد.
 ایا با پرداخت هزینه و تبدیل شدن به عملیاتی این مشکلات رفع می شود. در ضمن ما  حداکثر 500 نوتیف در روز داریم.

.

[2019-03-09 12:04] amir-yaghoubi commented on #23
سلام وقت بخیر

روی چه دستگاهی؟
آیا خطایی در قسمت پیام‌ها برای دستگاه مشاهده میکنید؟

لودینگ زرد نشان دهنده‌ی این هست که پیام چابک در صف قرار دارد و زمانی به دست کاربر می‌رسد که وب‌سایت و یا اپلیکیشن شما را باز کند.

الرت قرمز نشان دهنده‌ی خطا می‌باشد و در قسمت جزییات پیام علت آن ذکر شده است.

خیر، محدودیت سندباکس تنها بر روی تعداد کاربر روزانه و نصب فعال می‌باشد

[2019-03-18 05:56] mehdi-mashayekhi opened #24 "مشکل در هنگام ورود"
سلام و درود
ما همیشه موقع ورود به چابک مشکل داریم
یعنی برای اولین بار که کش نکرده سایت رو هنوز
امروز دیگه خسته شدم و اومدم ببینم واقعا مشکل چیه
وقتی میخوایم وارد حساب بشیم
https://sandbox.push.adpdigital.com/login

https://rawgit.com/jeanlescure/short-unique-id/master/dist/short-unique-id.min.js
این فایل اصلا دانلود نمیشه

همش در انتظار میمونه
الان که با شما صحبت میکنم نزدیک به 3 دقیقه هست هیچ اتف

[2019-03-18 18:44] behrad commented on #24
تا ۲ ماه پیش حجم دانلود زمان بارگذاری صفحه اول پنل زیاد بود که اون رو کم کردیم
و بعضی کاربرا درزمان اتصال به وی‌پی‌ان مشکل داشتند  و بعد از اون ماجرا مشکل حل شد

مرسی از دقت شما و کمکی که در گزارش این مشکل به ما کردین
گویا این فایل روی گیت‌هاب بدون وی پی ان در دسترس نیست برای کاربران ایرانی و این اتفاق اخیرن افتاده
بچه‌ها این مشکل رو ظهر امروز برطرف کردند

شما از ظهر امروز نباید مشکلی در لاگین به

[2019-03-24 06:53] sepehr13494 opened #25 "در بخش لاگ اندروید این ارور میاد"
E/com.adpdigital.push.AdpPushClient: Cannot save device, Reason: Unauthorized
    org.apache.http.client.HttpResponseException: Unauthorized
        at a.f.sendResponseMessage(SourceFile:440)
        at a.e.run(SourceFile:2078)
        at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:428)
        at java.util.concurrent.FutureTask.run(FutureTask.java:237)
        at java.util.

[2019-03-24 07:20] sepehr13494 opened #26 "در اینجا تو هیچکدوم از کال بک ها نمیره"
private void sendData(MessageForHelper message) {

        PushMessage myPushMessage = new PushMessage();

        myPushMessage.setBody("پیام از طرف مدد کار");

        JSONObject jsonObject = new JSONObject();
        try {
            jsonObject.put("title", message.getTitle());
            jsonObject.put("description", message.getDescription());
            jsonObject.put("date", message.getDa

[2019-03-24 09:44] behrad commented on #25
با سلام
این خطا مربوط به بخش اندروید میشه نه پنل
لطفن در بخش درست سوالتون رو مطرح کنید:
https://github.com/chabokpush/chabok-client-android/issues

ضمنن از پیام خطای شما مشخص هست که توکن‌هاتون رو درست در کدتون کپی نکرده اید
توکن‌های شما در پنل بخش تنظیمات موجود هست و مستندات مربوط به نحوه استفاده ازشون نیز در بخش مستندات هست

[2019-03-24 09:44] #25 closed, assigned to nobody

[2019-03-29 07:09] sepehr13494 opened #27 "عدم دریافت پیام"
@Override
    public void onReceive(Context context, Intent intent) {
        this.context = context;
        Bundle messageData = intent.getExtras();
        String channel = messageData.getString(AdpPushClient.PUSH_MSG_RECEIVED_TOPIC);
        String body = messageData.getString(AdpPushClient.PUSH_MSG_RECEIVED_MSG);
        PushMessage push = PushMessage.fromJson(body, channel);
        handleNe

[2019-04-15 05:54] Phessami opened #28 "دلیل صف طولانی در انتظار تحویل چیست؟"
<p dir="rtl">سلام، </p>
<p dir="rtl">دیروز از طریق پنل تعداد ۱۶,۶۵۷ پیام پوش برای کاربرانمان ارسال کردیم که تنها 734 عدد از این پیام‌ها تا این لحظه تحویل کاربر داده شده است.
دلیل صف بسیار طولانی ارسال پیام چیست؟ اگر پیام مورد نظر در همان لحظه به کاربر نرسد ارزشش را از دست خواهد داد.</p>
<p dir="rtl">یک عکس از پنل روخدمتتون ارسال کرده‌ام</p>
<p dir="rtl"><img src="https://user-images.githubusercont

[2019-04-15 07:10] Husseinhj commented on #28
<blockquote dir="rtl">
<p dir="rtl">دلیل صف طولانی در انتظار تحویل چیست؟</p>
</blockquote>
<p dir="rtl"> کاربرا هنوز اپلیکیشن‌تون رو <strong dir="rtl">باز نکردن</strong> تا <a href="https://doc.chabokpush.com/panel/dashboard.html#%D9%BE%DB%8C%D8%A7%D9%85%D9%87%D8%A7"><strong dir="rtl">پیام چابک</strong></a> رو دریافت کنن.</p>
<hr>
<blockquote dir="rtl">
<p dir="rtl">تنها 734 عدد از این پیام‌ها تا

[2019-04-15 07:20] Phessami commented on #28
<p dir="rtl">تشکر بابت پاسخ کاملتون</p>
<p dir="rtl">بسیاری از موارد الان شفاف‌تر شد، اما یک مشکل هنوز پا برحاست. من توی شرکت از ۱۰ نفر از همکارام پرسیدم و بیرون شرکت هم از ۱۰ نفر. هیچ کدام پوش را دریافت نکرده بودند!</p>
<p dir="rtl">یعنی شما می‌فرمایید که مشکل ارسال پوش از سمت FCM بوده است؟</p>

[2019-04-15 07:39] Husseinhj commented on #28
<blockquote dir="rtl">
<p dir="rtl">تشکر بابت پاسخ کاملتون</p>
</blockquote>
<p dir="rtl">خواهش می‌کنم 👍 </p>
<blockquote dir="rtl">
<p dir="rtl">بسیاری از موارد الان شفاف‌تر شد، اما یک مشکل هنوز پا برحاست. من توی شرکت از ۱۰ نفر از همکارام پرسیدم و بیرون شرکت هم از ۱۰ نفر. هیچ کدام پوش را دریافت نکرده بودند!</p>
</blockquote>
<p dir="rtl">لطفا نام کاربری کسایی که میگین پوش نگرفتن رو توی پنل جستجو

[2019-04-15 09:46] Phessami commented on #28
حتما چند مورد رو خدمتتون ارسال می‌کنم:

34ade8301183488da1751cf3413a88b1
79b656b8d5ac4ede9ba1b81756634295
153c72c1cf884c56b1102cf9a0d7cf56

این کاربران مشکلی در دریافت نوتیف دارند و از کاربران فعال برنامه هستند. اما هیچ کدام پوش دست جمعی را دریافت نکردند.

شناسه رهگیری کمپین هم در زیر کپی می‌کنم:

jibimo-1398-1-25-18-7

[2019-04-15 10:33] Husseinhj commented on #28
<blockquote dir="rtl">
<p dir="rtl">این کاربران مشکلی در دریافت نوتیف دارند و از کاربران فعال برنامه هستند. اما هیچ کدام پوش دست جمعی را دریافت نکردند.</p>
<p dir="rtl">34ade8301183488da1751cf3413a88b1</p>
<p dir="rtl">79b656b8d5ac4ede9ba1b81756634295</p>
<p dir="rtl">153c72c1cf884c56b1102cf9a0d7cf56</p>
</blockquote>
<p dir="rtl">با بررسی این ۳ نام کاربری، متوجه شدیم که پوشی که ارسال کردین به سگم

[2019-05-13 08:37] Mehrdad-Dadkhah opened #29 "درخواست API برای اطلاعات نصب‌ها و ریزش‌ها"
سلام
وقت به خیر

ما اطلاعات دیوایس‌های جدید و دیوایس‌های که اپلیکیشن را حذف کردن (ریزش‌ها) را نیاز داریم

امکانش هست API این مورد را داشته باشیم؟

[2019-05-14 10:10] amir-yaghoubi commented on #29
<p dir="rtl">سلام</p>
<blockquote dir="rtl">
<p dir="rtl">ما اطلاعات دیوایس‌های جدید</p>
</blockquote>
<p dir="rtl">شما میتوانید از <strong dir="rtl">وب‌هوک نصب جدید</strong> برای این موضوع استفاده کنید. جهت مطالعه بیشتر این قسمت از <a href="https://doc.chabokpush.com/panel/settings.html#%D9%88%D8%A8-%D9%87%D9%88%DA%A9">مستندات</a> را مطالعه نمایید.</p>
<blockquote dir="rtl">
<p dir="rtl">دیوایس‌ه

[2019-06-07 15:18] sepehr13494 opened #30 "اپلیکیشن جدید"
با سلام آیا میشه روی یک اکانت 2 تا اپلیکیشن پیاده سازی کرد؟

[2019-06-07 16:35] behrad commented on #30
اگر منظورتون دو اپلیکیشن مجزاست نخیر، دو اکانت باز کنید برای این منظور
البته بعدن این دو اکانت رو میشه بهم متصلشون کرد

[2019-06-08 07:21] sepehr13494 commented on #30
خب الان من چجوری با 1 ایمیل 2 تا اکانت باز کنم؟

On Fri, 7 Jun 2019 at 21:05, Behrad Zari <notifications@github.com> wrote:

[2019-06-08 07:29] behrad commented on #30
در حال حاضر با ۲ ایمیل متفاوت اکانت باز کنید لطفا
در یکی دو ماه آینده این دو اکانت بهم متصل می شوند تا بتوانید با یک ایمیل از آنها استفاده کنید

[2019-06-08 07:32] sepehr13494 commented on #30
ممنون

On Sat, 8 Jun 2019 at 11:59, Behrad Zari <notifications@github.com> wrote:

[2019-06-08 07:33] #30 closed, assigned to nobody

[2019-06-13 05:01] coyot1904 opened #31 "مشکل بسته شدن اپ بعد کلیک بر روی پوش نوتیفکشن"
پیام ها به درستی ارسال میشند ولی وقتی روی هر پیام کلیک میکنم اپ force close میده

[2019-06-13 07:14] Husseinhj commented on #31
<blockquote dir="rtl">
<p dir="rtl">پیام ها به درستی ارسال میشند ولی وقتی روی هر پیام کلیک میکنم اپ force close میده</p>
</blockquote>
<p dir="rtl">از کتابخونه اندروید چابک استفاده می‌کنین یا react-native؟</p>
<p dir="rtl">نسخه کتابخونه و همچنین متن خطایی که در logcat نمایش داده میشه رو برای ما ارسال کنین</p>

[2019-07-02 06:28] taherimdm opened #32 "سلام من تازه دیروز پنلم رو راه انداختم دیروز همه چی اوکی بود امروز ترکر هام همه صفر شدن"
سلام من تازه دیروز پنلم رو راه انداختم دیروز همه چی اوکی بود امروز ترکر هام همه صفر شدن

[2019-07-02 07:17] behrad commented on #32
سلام
لطفن اطلاعات پنل‌تون رو از طریق ایمیل
`info AT chabok DOT io `
برای ما بفرستید تا بررسی کنیم

[2019-07-02 08:36] taherimdm commented on #32
info@mashverapp.com

[2019-07-02 09:11] behrad commented on #32
شما ۸ ترکر تعریف کرده اید که ۵ تا از ان‌ها غیر صفر می باشند و در ظاهر مشکلی ندارند
لطفن اگر مشکلی در استفاده از پنل یا ترکر‌ها مشاهده می کنید از طریق ایمیل یا تلغن با کارشناسان ما تماس بگیرید تا در خصوص اون راهنماییتون کنیم

[2019-07-09 08:21] hoseinjamshidi opened #33 "نمونه کد برای asp.net core"
سلام وقت بخیر
برای پیاده سازی Api در asp.net core نیاز به نمونه کد داریم ممنون میشم روی سایت قرار بدید یا یک داکیومنت که به صورت ساده تر روش کار بیان کرده قرار بدید

[2019-07-09 08:35] amir-yaghoubi commented on #33
<p dir="rtl">سلام</p>
<p dir="rtl">راهنمای استفاده از Rest API در این <a href="https://doc.chabokpush.com/rest-api/guide.html">قسمت</a> بیان شده</p>
<p dir="rtl">همچنین <a href="https://api.doc.chabokpush.com/">Swagger</a> ما هم در دسترس هست
براتون که میتونین payload درخواست ها و مثال‌هاش رو مشاهده کنین</p>

[2019-07-09 09:36] hoseinjamshidi commented on #33
ممنون

[2019-07-13 04:49] #33 closed, assigned to nobody

[2019-07-13 05:34] hoseinjamshidi opened #34 "ارسال نوتیفیکیشن به صورت تکی"
سلام وقت بخیر برای ارسال نوتیفیکیشن به صورت تکی کد مربوط بهکاربر مورد نظر باید در چه فیلدی قرار بدیم؟؟؟

[2019-07-13 06:09] amir-yaghoubi commented on #34
<p dir="rtl">سلام
جهت استفاده از API <code>toUsers</code> شناسه کاربر را در فیلد <code>user</code> قرار بدین</p>
<p dir="rtl">جهت اشنایی بیشتر با این API به این <a href="https://doc.chabokpush.com/rest-api/send-push.html#%D8%A7%D8%B1%D8%B3%D8%A7%D9%84-%D8%B4%D8%AE%D8%B5%DB%8C-%D9%BE%DB%8C%D8%A7%D9%85-%DA%86%D8%A7%D8%A8%DA%A9">قسمت از مستندات</a> رجوع نمایید</p>

[2019-07-13 08:05] hoseinjamshidi commented on #34
ممنون فقط برای ارسال گروهی باید در فیلد user چه چیزی باید قرار بدم؟

[2019-07-13 08:10] amir-yaghoubi commented on #34
<p dir="rtl">برای ارسال گروهی باید از API <code>byQuery</code> استفاده کنین که در این API کلید <code>user</code> کاربردی ندارد و باید با استفاده از کلید <code>target</code> گروه رو مشخص کنین</p>
<p dir="rtl">به عنوان مثال، ارسال گروهی به کاربران اندروید:</p>
<pre><code>...
"target": {
  "deviceType": "android"
}
...</code></pre><p dir="rtl">برای مطالعه بیشتر به این <a href="https://doc.chabokpush.

[2019-07-13 08:25] hoseinjamshidi commented on #34
ممنون

[2019-07-13 12:07] #34 closed, assigned to nobody

[2019-07-14 05:01] ehsanbkh7 opened #35 "مشکل در نصب چابک در اندروید استادیو"
با اضافه کردن implementation مربوط به چابک خطای زیر دریافت می شود
ERROR: Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.adpdigital.push:chabok-lib:2.17.1.

لازم به ذکر است که از اخرین نسخه gradle و اندروید استادیو استفاده می کنم
gradle:3.4.2
android studio 3.4.2

[2019-07-14 08:39] aminsadeghipour opened #36 "تعداد بازدید غلط کاربران در پنل چابک"
کاربر جدیدی را رجیستر کرده ام. پس از حدودا ۵ بار بازدید تعداد بازدید کاربر در پنل چابک بیش از ۱۵۰۰ ثبت شده و پس از هر بازدید به این عدد چندصد شماره اضافه میشود. علت چیست؟

[2019-07-14 08:53] aminsadeghipour opened #37 "عدم دریافت ایمیل اعتبار سنجی"
<p dir="rtl">طبق اطلاعات این صفحه اقدام به اعتبار سنجی یوزرنیم کاربر میکنم.
فراخوانی میشود اما ایمیلی به کاربر ارسال نمیشود.علت چیست؟ onsuccess  متد</p>

[2019-07-14 09:09] hoseinjamshidi opened #38 "مقدار دهی"
سلام وقت بخیز
برای ارسال داده به api سرایند فایل باید به چه صورت باشه؟
(Authoriza و Content-Type)

[2019-07-14 09:35] Husseinhj commented on #37
<blockquote dir="rtl">
<p dir="rtl">طبق اطلاعات این صفحه اقدام به اعتبار سنجی یوزرنیم کاربر میکنم. فراخوانی میشود اما ایمیلی به کاربر ارسال نمیشود.علت چیست؟ onsuccess متد</p>
</blockquote>
<p dir="rtl">کانکتور ایمیل برای حساب کاربری‌تون فعال نیست، لطفا این درخواست رو به ایمیل <a href="mailto:info@chabok.io">info@chabok.io</a> بزنین.</p>
<blockquote dir="rtl">
<p dir="rtl"><code>نکته</code>: اضافه

[2019-07-14 09:36] Husseinhj commented on #36
از کدام کتابخانه چابک استفاده می‌کنین؟

[2019-07-14 09:50] aminsadeghipour commented on #36
chabok-lib-geo:2.17.1

[2019-07-14 10:17] aminsadeghipour opened #39 "نشان دادن مقدار قبلی پیام خوش آمد"
مقدار  پیام خوش آمد را در پنل چابک تغییر داده ام اما کماکان کاربران جدید  پیام پیشفرض با مقدار زیر را دریافت میکنند.:
به - خوش آمدید.
علت چیست؟
library:  chabok-lib-geo:2.17.1
account: free

[2019-07-15 03:33] tech-mint opened #40 "[feature request]cohort analysis"
https://clevertap.com/blog/cohort-analysis/

<img width="1043" alt="Screen Shot 1398-04-24 at 8 02 34 AM" src="https://user-images.githubusercontent.com/32446999/61194500-0bf07c00-a6d7-11e9-865a-3732033d6d3a.png">

[2019-07-15 04:24] behrad commented on #40
Thank you @tech-mint , Funnels & Retention Cohorts are two analytical assets which are planned to be added to Chabok within Q3 1398, however we have not published any official release date yet :)

[2019-07-15 05:08] hoseinjamshidi opened #41 "Internal Server Error"
<p dir="rtl">سلام وقت بخیر زمان ارسال اطلاعات به API با ارور Internal Server Error روبرو میشوم
برای رفع این مشکل چه راه حلی وجود دارد؟</p>

[2019-07-15 06:47] Husseinhj commented on #41
<p dir="rtl">لطفا بفرمایید چه apiای رو کال می‌کنین؟</p>
<p dir="rtl"> CURL رو برامون اینجا قرار بدین</p>

[2019-07-15 06:56] hoseinjamshidi commented on #41
<p dir="rtl">برای ارسال تکی نوتیفیکیشن از </p>
<pre><code>curl -X POST \
&quot;https://sandbox.push.adpdigital.com/api/push/toUsers?access_token=&lt;ACCESS_TOKEN&gt;&quot; \
-H &quot;accept: application/json&quot; \
-H &quot;Content-Type: application/json&quot; \
-d &quot;{ \&quot;user\&quot;: \&quot;Test\&quot;, \&quot;content\&quot;: \&quot;پرواز شما دچار نیم ساعت تاخیر شده است.\&quot;, \&quot;u

[2019-07-15 07:11] amir-yaghoubi commented on #38
<p dir="rtl">سلام</p>
<p dir="rtl">مقدار <code>Content-Type</code> را <code>application/json</code>
 و برای <code>Authorize</code> هم میتوانید با استفاده از query parameter <code>access_token</code> و یا در قسمت هدر <code>X-Access-Token</code> آن را فراهم بیاورید</p>

[2019-07-15 07:12] hoseinjamshidi commented on #38
ممنون از راهنمایی شما

[2019-07-15 07:13] amir-yaghoubi commented on #41
<p dir="rtl">CURL داده شده صحیح می‌باشد</p>
<p dir="rtl">لطفا appId خود را اعلام نمایید تا بیشتر بررسی کنیم</p>

[2019-07-15 12:18] #38 closed, assigned to amir-yaghoubi

[2019-07-15 12:25] amir-yaghoubi commented on #39
<p dir="rtl">سلام</p>
<p dir="rtl">مقدار پیام خوش‌آمد کش می‌شود و تا اعمال تغییر کمی زمان میبرد، که مدت این زمان را برای حساب‌های سندباکس کاهش دادیم و از این پس این مورد را مشاهده نخواهید کرد</p>

[2019-07-16 07:30] Husseinhj commented on #36
<blockquote dir="rtl">
<p>chabok-lib-geo:2.17.1</p>
</blockquote>
<p dir="rtl">لطفا appId پنل‌تون رو برامون اینجا قرار بدین </p>

[2019-07-16 07:34] hoseinjamshidi commented on #41
مشکل از سمت سیستم نرم افزاری خود ما بود
ممنون

[2019-07-16 07:36] Husseinhj commented on #41
<p dir="rtl">مرسی که اطلاع دادید، پس من این issue رو close می‌کنم. اگر مشکل مشابهی مشاهده کردین، issue رو مجددا باز کنین و یک نمونه curl برامون قرار بدین تا بررسی‌های لازم رو انجام بدیم</p>

[2019-07-16 07:36] #41 closed, assigned to nobody

[2019-07-16 07:37] #28 closed, assigned to nobody

[2019-07-16 07:38] #24 closed, assigned to jangholi

[2019-07-16 07:40] #37 closed, assigned to nobody

[2019-07-17 06:35] hoseinjamshidi commented on #41
سلام و درود مجدد
مشکل کنونی ما این هست که از طریق یک api اطلاعات برای api شما ارسال میکنیم و با Internal Server Error روبرو شدیم
راه حل چیست؟

[2019-07-17 06:38] behrad commented on #41
لطفن ادرس و داده‌ارسالی و پاسخ دریافتی را عینن برای ما کپی کنید اینجا
اگر به فرمت CURL باشد که چه بهتر

[2019-07-17 06:42] hoseinjamshidi commented on #41
این curl هست که به api خود ما مربوط میشه
curl -X POST "https://localhost:44390/api/consulation/Block-User-Whis-Moshir-For-User?userid=44" -H  "accept: application/json"

درون این api عملیات مورد نظر انجام میشه و api شما فراخوانی میشود
ارور
"Object reference not set to an instance of an object."

[2019-07-17 06:46] hoseinjamshidi commented on #41
پارامت های کلاس انتقالی به api شما دقبیقا بر اساس https://api.doc.chabokpush.com/#/push/push_toUsers ایجاد شده و برخی از مقادیر مقدار دهی میشوئ

[2019-07-17 06:47] amir-yaghoubi commented on #41
<p dir="rtl">همانطور که مطرح کردین این curl مربوط به api شما می‌باشد</p>
<p dir="rtl">و با جستجوی خطای داده شده من متوجه شدم که این خطا به .Net مربوط میشود که احتمالا برای سرور شماست.</p>
<p dir="rtl"><a href="https://stackoverflow.com/questions/779091/what-does-object-reference-not-set-to-an-instance-of-an-object-mean">راه‌حل مطرح شده در stackoverflow</a></p>

[2019-07-17 06:48] hoseinjamshidi commented on #41
ممنون

[2019-07-17 06:51] hoseinjamshidi commented on #41
سوال اخر این که تمام پارامترهای مربوط به  https://api.doc.chabokpush.com/#/push/push_toUsers  در زمان فراخوانی باید مقدار دهی بشن؟؟

[2019-07-17 07:23] amir-yaghoubi commented on #41
<p dir="rtl">خیر</p>
<p dir="rtl">برای مشاهده فیلد‌های اجباری </p>
<p><img src="https://user-images.githubusercontent.com/14129756/61355331-616c8a80-a889-11e9-8ce9-d165ce4b2b7b.png" alt="image"></p>
<p dir="rtl">بر روی تب Model رفته و فیلد‌هایی که با ستاره مشخص شده‌اند اجباری می‌باشند</p>

[2019-07-17 07:25] hoseinjamshidi commented on #41
ممنون از راهنمایی خوبتون

[2019-07-19 12:17] Hoss3inf opened #42 "[UX][Documentation Enhancement] ابهام در تعریف سگمنت جدید بر اساس رفتار کاربر"
برای تعریف سگمنت جدید، به مشکل خورده ام.
در صفحه ی تعریف سگمنت، فیلدی با عنوان ــــ ساعت پیش وجود دارد. لطفا در مورد آن توضیح دهید.
در مستندات هم چیزی در مورد آن ننوشته بود.

![image](https://user-images.githubusercontent.com/9293015/61534370-a7218280-aa44-11e9-8307-abe9920e1a52.png)

[2019-07-19 12:26] behrad commented on #42
این فیتلر به شما اجازه میدهد یک پنچره زمانی متحرک روی اکشن مورد نظرتون داشته باشید
به طور مثال اگر شما عدد ۲۴ رو وارد کنید این فیلتر به شما کمک می کند کاربرانی که تا قبل از ۲۴ ساعت گذشته برای اولین بار اکشن مورد نظر شما رو انجام داده‌اند فیلتر کنید.
در واقع این سگمنت مورد مثال، همیشه کاربرانی که تا قیل از ۲۴ ساعت گذشته برای اولین
downloaded_generated_report
را انجام داده اند شامل می‌شود
اگر فیلتر

[2019-07-19 12:39] Hoss3inf commented on #42
ممنون از راهنمایی سریع و کامل شما.
اگر شرایطی فراهم بشه که همین مثالی که فرمودید، ذیل صفحه ای که اشاره کردم باشه، خیلی خوب میشه. در واقع هر صفحه، توضیح دهنده ی خودش خواهد بود.

[2019-07-19 12:41] behrad commented on #42
@Husseinhj @jangholi @hamidreza411

[2019-07-21 09:57] Hoss3inf opened #43 "ردگیری فعال نبودن کاربر"
سلام وقت بخیر
فرض کنید می خواهم به کاربری که طی یک هفته ی گذشته، رفتار خاصی مانند
`do_something`
را انجام نداده، نوتیفیکیشن بفرستم.
چطور باید این کار را انجام دهم؟ لطفا راهنمایی کنید.

[2019-07-21 13:42] amir-yaghoubi commented on #43
<p dir="rtl">سلام</p>
<p dir="rtl">از طریق سگمنت کردن کاربران (اخرین باری که رفتار مورد نظر رخ داده است را انتخاب نمایید) این پوش را ارسال کنید</p>
<p><img src="https://user-images.githubusercontent.com/14129756/61592049-10d79300-abe3-11e9-8e5b-aa880dc50a9a.png" alt="image"></p>

<p dir="rtl">برای مطالعه بیشتر به این قسمت از <a href="https://doc.chabokpush.com/panel/send.html#%D8%B3%DA%AF%D9%85%D9

[2019-07-21 13:51] Hoss3inf commented on #43
راهی هست که ارسال این پوش به صورت اتوماتیک انجام شود؟
طوری که هر هفته نخواهم این کار را انجام دهم و پوش ها را دستی ارسال کنم؟

[2019-07-21 14:03] behrad commented on #43
با استفاده از اتومیشن و تعریف یک کمپین خودکار شما می توانید این سناریو رو پیاده سازی کنید

به این صورت که شما ۷ روز بعد از انجام اکشن ، اگر کاربر دوباره اون اکشن رو انجام نداد پیام بدید
<img width="1293" alt="Screen Shot 1398-04-30 at 18 30 19" src="https://user-images.githubusercontent.com/2151889/61592227-a07e4100-abe5-11e9-886f-21708e6c052c.png">

در این مثال از اکشن
Comment
جای
do_something
اس

[2019-07-21 17:02] a-bahmani opened #44 "Tapsell callback link"
سلام،
شما لینک کال بک تپسل رو تو سیستمتون دارین برای ترکر؟

[2019-07-22 07:14] #44 closed, assigned to nobody

[2019-07-22 07:35] Husseinhj commented on #43
@hamidreza411

[2019-07-22 08:50] behrad commented on #44
سلام
بله ترکر چابک با تپسل اینتگریت هستش

[2019-07-23 07:21] hoseinjamshidi opened #45 "StatusCode: 400"
سلام وقت بخیر زمان فراخوانی api با ارور 400 رو به رو شدم
راه حل این مشکل چیه؟(در سیستم ما api شما از  طریق یک Api فراخوانی میشود)
user در api شما هر مقداری میتونه باشه؟؟(مثلا شماره موبایل کاربر)یا باید از طریق سیستم شما شناسه به اون اختصاص داده بشه؟

[2019-07-23 07:53] hoseinjamshidi commented on #45
کد فراخوانی api شما
  using (var httpClient = new HttpClient())
            {
                using (var request = new HttpRequestMessage(new HttpMethod("POST"),"https://sandbox.push.adpdigital.com/api/push/toUsers?access_token=XXXXXX"))
                {
                    var myObject = new ChabokAllUsers();
.
.
.
                  string jsonString = Newtonsoft.Json.JsonConvert.SerializeObject

[2019-07-24 04:57] amir-yaghoubi commented on #45
<p dir="rtl">سلام</p>
<p dir="rtl">لطفا payload ارسالی رو ضمیمه کنین تا بررسی کنم</p>

<blockquote dir="rtl">
<p dir="rtl">user در api شما هر مقداری میتونه باشه؟؟(مثلا شماره موبایل کاربر)یا باید از طریق سیستم شما شناسه به اون اختصاص داده بشه؟</p>
</blockquote>
<p dir="rtl">مقدار <code>user</code> همان شناسه کاربر هست که از طریق شما در سیستم چابک ثبت می‌شود</p>

[2019-07-24 05:12] hoseinjamshidi commented on #45
ChabokNotificationPayload payload = new ChabokNotificationPayload();
                payload.notificationtitle = title;
                payload.body = captions;

                ChabokNotificationActions actions = new ChabokNotificationActions();
                actions.Id = "string";
                actions.Title = title; ;

                ChabokFallback fallback = new ChabokFallback();

[2019-07-24 05:35] amir-yaghoubi commented on #45
<p dir="rtl">اگه مقدار json شده payload رو قرار میدادین بهتر میشد</p>
<p dir="rtl">ولی به بزرگی و کوچیکی حروف دقت کنین
مثلا داخل json مقدار <code>Content</code> نشینه و <code>content</code> قرار بگیره</p>

<blockquote dir="rtl">
<p dir="rtl">در صورتی که سرشماره اس‌ام‌اس خریداری و تنظیم نشده براتون از فراهم اوردن <code>fallback</code> خودداری نمایید</p>
</blockquote>

[2019-07-24 05:43] hoseinjamshidi commented on #45
fallback حذف میکنم
این هم json شده کلاس ها

"{\"user\":\"USER_ID\",\"channel\":\"default\",\"Content\":\"مشاور گرامی،شما از لیست مشاوران پیشنهادی خارج شدید.\",\"data\":{},\"trackId\":null,\"inApp\":false,\"live\":false,\"autoNotify\":false,\"useAsAlert\":false,\"alertText\":null,\"ttl\":0.0,\"Myfallback\":null,\"clientId\":null,\"ChabokNotificationPayload\":{\"notificationtitle\":\"اعلان حالت پیشن

[2019-07-24 05:48] amir-yaghoubi commented on #45
<p dir="rtl">همان طور که بالاتر اشاره کردم دقت کنین اسم فیلد ها مطابق <a href="https://api.doc.chabokpush.com/#/push/push_toUsers">داکیومنت</a> باشند</p>
<p dir="rtl">به طورمثال فیلد <code>Content</code> باید به <code>content</code> تغییر پیدا کند</p>
<p dir="rtl"><code>ChabokNotificationPayload</code> به <code>notification</code></p>
<p dir="rtl"><code>ChabokNotificationActions</code> به <code>ac

[2019-07-24 05:57] hoseinjamshidi commented on #45
ممون

[2019-07-24 06:04] #45 closed, assigned to nobody

[2019-07-24 15:37] hosseinaryai opened #46 "ارور Application ID"
با درود ..
دوستان من این سیستم شما رو میخوام توی نرم افزارم پیاده سازی کنم ..
با سیستم پوشه به راحتی و بدون دردسر انجام شد .. اما اینجا هر کاری میکنم باز یه جای دیگه اش گیر میده ..
الان گیر داده به این :
     Caused by: java.lang.IllegalArgumentException: Application ID should be in `app-name/number` format
برای چی آخه ؟ تمام مراحلو درست رفتن و ای دی ها هم درسته .. مشکل کجاست پس ؟

[2019-07-24 17:05] amir-yaghoobi commented on #46
سلام

راه‌حل مشکل مطرح شده در این بخش از [عیب‌یابی مستندات](https://doc.chabokpush.com/android/troubleshoot.html#%D8%A8%D9%87-%D9%85%D9%82%D8%AF%D8%A7%D8%B1-app_idsender_id-%D8%AF%D9%82%D8%AA-%DA%A9%D9%86%DB%8C%D8%AF) موجود می‌باشد

[2019-07-24 17:15] #39 closed, assigned to amir-yaghoubi

[2019-07-26 07:31] Ario92 opened #47 "فعال نشدن کلاینت چابک روی اندروید پروژه یونیتی"
برروی یونیتی پلاگین چابک را قرار دادم. کلید کاربر هم ایجاد شده و کاربر را در چابک ثبت می کند(حداقل سمت گوشی) اما در پنل هیچ دستگاهی را نشان نمیدهد.

[2019-07-27 06:03] Hoss3inf opened #48 "چگونه بر اساس رفتار، کاربر را به صورت اتوماتیک به یک سگمنت وارد کنم؟"
سلام. وقت بخیر
در هنگام تعریف سگمنت، رفتاری که کاربر در ایکس ساعت قبل یا ایکس ساعت بعد انجام داده، ملاک وارد کردن یک کاربر به یک سگمنت می شود.
اما این روش برای کمپین خودکار بی مورد است، چون که من باید به صورت دستی، افرادی که رفتار حاصی را انجام داده اند، به سگمنت اضافه کنم،
لطفا راهنمایی کنید که چگونه سگمنت خودکار ایجاد کنم؟

[2019-07-27 06:37] behrad commented on #48
در کمپین‌های خودکار هم شما می تونید از پنچره‌های زمانی پویا در سگمنت‌ها استفاده کنید و ترکیبات پیچیده‌ای داشته باشید
لطفن منظورتون رو از سگمنت خودکار بفرمایید یا اینکه به طور مشخص نیازتون رو به ما بگید
دقیقن راهنمایی کنیم که چطوری کمپین و سگمنت‌تون رو تعریف کنید

[2019-07-27 07:46] Hoss3inf commented on #48
ممنون از پاسخ سریع شما.

مشکل م اینه که موقع تعریف کردن کمپین خودکار، نمیدونم چطور همه ی کاربرهایی که از برنامه استفاده می کنند رو توی اون کمپین شرکت بدم.
وقتی که توی قسمت انتخاب گیرندگان، تب کانال رو انتخاب میکنم که کانال عمومی رو انتخاب کنم، کانالی که شامل همه ی کاربر ها هست، دیگه تو قسمت زمان ارسال، نمیتونم قسمت خودکار رو انتخاب کنم و فقط در لحظه می تونم پوش بفرستم.

زمانی هم که در قسمت انتخاب

[2019-07-27 08:39] behrad commented on #48
به چندین راه می تونید اینکارو بکنید. یک سگمنت تعریف کنید برای کاربرانی که اپ را بیشتر از یک بار بازدید داشته اند
یا سگمنتی که دستگاه کاربر شامل تمام پلتفرم‌ها باشد
یا اگر تمام دستگاهایی را منظور دارید که یک عمل خاص را انجام داده اند، تعداد انجام اون رویداد را بزرگتر از صفر تنظیم کنید

کانال‌ها برای پیام‌رسانی آنی چابک هستند و در سگمنت و اتومیشن کاربردی ندارند

اگر جواب سوالتون رو نگرفتید بفرمایید

[2019-07-27 08:43] behrad commented on #48
فقط به نکته مهم توجه داشته باشید که سگمنت‌های چابک پویا (داینامیک) هستند و کاربران در لحظه به آن اضافه می‌شوند یا حذف می‌شوند تا اتومیشن شما درست کار کند

@hamidreza411

[2019-07-27 15:45] Hoss3inf commented on #48
این مورد خیلی مهم بود که بدونم. هیچ جای مستندات هم اشاره نشده بود به داینامیک بودن سگمنت ها. حتما اینو به مستندات اضافه کنید.
منوی ساخت سگمنت، بیشتر حس استاتیک بودن رو به سگمنت ها میده. سگمنت و داینامیک بودنشون، خیلی قدرت میده به کاربر برای اجرای کمپین های خوب و اتوماتیک، اما اصلا توانایی ش قابل لمس نیست توی داشبورد.

لطفا منوی تعریف سگمنت جدید رو مدیریت ش کنید، کار کردن با این منو باید خیلی راحتت

[2019-07-27 17:51] behrad commented on #48
@Husseinhj

[2019-07-27 17:54] behrad commented on #48
در مورد فیدبک اولتون خیلی ممنون و حتمن به مستندات اضافه می کنیم
در مورد این فیدبک، امکان تعریف پنچره زمانی خیلی کاربردی و حیاتی هست برای مارکتر‌ها
اگر شما استفاده‌ای ازش ندارید می تونید به سبک‌دیگه‌ای تعریف کنید سگمنت خودتون رو
اما باید اشاره کنیم که این مدل سگمنتیشن با بررسی چندین سرویس بزرگ دنیا مثل لینپلام، اکسنگیچ ، وب انگیج و ... پیاده سازی شده

فعلن این تاییک رو می بندیم اگه سوالی بود لطفن د

[2019-07-27 17:54] #48 closed, assigned to amir-yaghoubi

[2019-07-28 13:31] Hoss3inf opened #49 "حتما سگمنت باید دارای عضو باشد تا بتوان در کمپین خودکار از آن استفاده کرد"
سناریویی داریم که در آن، می خواهیم اگر کاربر ۳۰ بار رفتار خاصی را انجام داد، یک نوتیفیکیشن برای کاربر فرستاده شود.
لطفا به من کمک کنید آن را ایجاد کنم.
به منوی کمپین خودکار رفته، گزینه ی کمپین جدید را انتخاب می کنیم
سگمنت جدیدی می سازیم که شرط عضویت در آن، انجام رفتار
do_something
به تعداد برابر با ۳۰ بار است.

سگمنت ایجاد می شود و تعداد گیرندگان هم اکنون صفر است.

منوی محتوا و نوتیفیکیشن پیشرفته

[2019-07-28 13:44] Hoss3inf opened #50 "[UX][Usability][Campaign] خطاهایی که به کاربر اعلام می شود، مرتبط نیست"
طی ایجاد کمپین جدید، پس از فشردن دکمه ی ذخیره و اجرا، با پیغام (خطایی رخ داده است) مواجه می شوم، بدون اینکه اطلاعات بیشتری از محل خطا در اختیارم قرار دهد
پس از آزمون و خطا های مختلف، متوجه شدم که فیلد مربوط به متن پیام، نمی تواند خالی باشد
لطفا ترتیبی اتخاذ کنید که محل خطا دقیقا مشخص باشد تا وقت کاربر تلف نشود

[2019-07-28 19:13] behrad commented on #50
@jangholi

[2019-07-28 19:15] behrad commented on #49
@jangholi @Husseinhj

[2019-07-31 08:29] hoseinjamshidi opened #51 "ارسال نوتیفیکیشن روی چند دستنگاه"
سلام وقت بخیر برای تست ارسال نوتیفیکیشن ما یک اکانت را روی چند گوشی موبایل باز کردیم و زمانی که با یکی از گوشی ها از اکانت خارج میشویم نوتیفیکیشن برای اون موبایلی که با اکانت مد نظر ما لاگین نیست هم ارسال میشود
برای رفع این مشکل چه راه حلی را پیشنهاد میکنید؟

[2019-07-31 08:30] behrad commented on #51
آیا بعد از خارج شدن از اکانت از متد
`unregister`
 چابک هم استفاده کرده اید؟

[2019-07-31 08:34] hoseinjamshidi commented on #51
خیر استفاده نشده است
برای استفاده از این متد باید چه کاری انجام داد؟(داکیومنت مربوطه)

[2019-07-31 08:36] Husseinhj commented on #51
<blockquote dir="rtl">
<p dir="rtl">برای استفاده از این متد باید چه کاری انجام داد؟(داکیومنت مربوطه)</p>
</blockquote>
<p dir="rtl"><a href="https://doc.chabokpush.com/android/sdk-setup.html#%D8%AD%D8%B0%D9%81-%DA%A9%D8%A7%D8%B1%D8%A8%D8%B1-unregister">مستندات مربوط به unregister کاربر در اندروید</a></p>

[2019-07-31 08:36] #51 closed, assigned to nobody

[2019-08-01 07:05] hoseinjamshidi opened #52 "ارسال push بعد از unregister کاربر"
سلام وقت بخیر
ما زمانی که کاربر در سامانه unregister  میکنیم تا زمان ورود بعد که در سیستم چابک register بشه اگر در این بازه برای کاربر push ارسال شود بعد از ورود مجدد دریافت نمیکنه و فقط ارسال های بعد از ورود دریافت میکنه
برای رفع این مساله چه راه حلی وجود داره؟؟

[2019-08-03 04:29] behrad commented on #52
پیام شما بعلت اینکه کلمات انگلیسی با فارسی مخلوط شده خانا نیست
لطفن بخش انگلیسی رو هم به فارسی بنویسید و ویرایش کنید پیامتون رو تا بتونیم متوجه سوال شما بشیم

[2019-08-03 04:51] hoseinjamshidi commented on #52
سلام وقت بخیر
ما زمانی که کاربر در سیستم چابک با استفاده از متد انرجیستر از سیستم حذف میکنیم تا زمان ورود بعد که در سیستم چابک ثبت بشه اگر در این بازه برای کاربر pusنوتیفیکیشن  ارسال شود بعد از ورود مجدد دریافت نمیکنه و فقط ارسال های بعد از ورود دریافت میکنه
برای رفع این مساله چه راه حلی وجود داره؟؟

[2019-08-03 06:04] behrad commented on #52
این رفتار طبیعی چابک هست
به طور مثال تلگرام رو فرض کنید، زمانی که شما لاگ اوت می کنید نوتیف نمی گیرید و زمانی که بر میگردید نوتیف‌های بعد از ان رو میگیرید

اگر شما قصد دارید کاربر نوتیف بگیره چرا آنرجیستر می کنید؟

[2019-08-03 06:29] hoseinjamshidi commented on #52
چون در زمانی که لاگ اوت میکنه نیازی به دریافت نیست
پس راه حلی وجود نداره که از زمان لاگ اوت(انرجیستر) تا زمان لاگین بعد(رجیستر) نوتیفیکیشن های که توی این بازه ارسال شده که دریافت نکرده با هم دریافت کنه؟

[2019-08-03 06:31] behrad commented on #52
وقتی نیازی به دریافت نیست پس چرا بعد از لاگین باید دریافت کنه؟
شما یرای این منظور باید خودتون سمت کسب و کارتون و بکندتون راه کاری پیاده سازی کنید و بعد از رجیستر کردن دوباره پیام‌ها رو بفرستید
این نیاز خاص شما در لایه سرویس‌های موجود پاسخ داده نمیشه

[2019-08-03 06:33] hoseinjamshidi commented on #52
ممنون لطف کردید که پاسخ دادید

[2019-08-03 08:07] behrad commented on #52
سلامت باشید
اگه باز سوال یا کمکی در این خصوص بود بفرمایید

[2019-08-03 08:07] #52 closed, assigned to nobody

[2019-08-03 12:53] hoseinjamshidi opened #53 "عنوان نوتیفیکیشن"
<p dir="rtl">سلام مجدد</p>
<p dir="rtl">در زمان نمایش نوتیفیکیشن روی گوشی مقصد عنوان هم در بالای نتیفیکیشن نمایش داده میشود هم در پایین نوتیفیکیشن
زمان کلیک بر روی عنوانی که پایین نوتیفیکیشن هست صفحه بروزر گوشی باز میشود برای مدیریت این بخش کدام بخش داکیومنت باید مطالعه شود؟</p>

[2019-08-04 05:54] Husseinhj commented on #53
<blockquote dir="rtl">
<p dir="rtl">در زمان نمایش نوتیفیکیشن روی گوشی مقصد عنوان هم در بالای نتیفیکیشن نمایش داده میشود</p>
</blockquote>
<p dir="rtl">لطفا payload پوشی که به این شکل بوده را برای ما ارسال کنید </p>
<blockquote dir="rtl">
<p dir="rtl">زمان کلیک بر روی عنوانی که پایین نوتیفیکیشن هست صفحه بروزر گوشی باز میشو</p>
</blockquote>
<p dir="rtl">اگر شما کلید clickUrl را در notification آدرس

[2019-08-04 06:17] hoseinjamshidi commented on #53
<p dir="rtl">در زمان ارسال در payload فقط پارامتر های title و body و actions مقدار دهی شده اند</p>

[2019-08-04 06:21] Husseinhj commented on #53
<blockquote dir="rtl">
<p dir="rtl">در زمان ارسال در payload فقط پارامتر های title و body و actions مقدار دهی شده اند</p>
</blockquote>
<p dir="rtl">در صورت ارسال curlی که با اون پوش زدین، بهتر می‌تونیم منظور شما رو متوجه بشیم و راهنمایی‌تون کنیم.</p>

[2019-08-04 06:21] hoseinjamshidi commented on #53
<p dir="rtl">ممنون از راهنمایی شما با حذف  clickUrl از json ارسالی به چابک مشکل برطرف شد</p>

[2019-08-06 10:18] hoseinjamshidi opened #54 "دریافت نوتیفیکیشن"
سلام وقت بخیر
اگر ما بخوایم در زمان بازبودن نرم افزار موبایل کاربر نوتیفیکیشم های یک بخش خاص دریافت نکنه از چه راهی باید این کارو انجام بدیم؟؟
(مثلا زمانی که کاربر در بخش حسابداری نرم افزار هست نوتیفیکیشان های مربوط به اون بخش دریافت نکنه و نوتیفیکیشن دیگر بخش ها دریافت کنه)

[2019-08-06 10:20] hoseinjamshidi commented on #54
سلام وقت بخیر
اگر ما بخوایم در زمان بازبودن نرم افزار موبایل کاربر نوتیفیکیشم های یک بخش خاص دریافت نکنه از چه راهی باید این کارو انجام بدیم؟؟
(مثلا زمانی که کاربر در بخش حسابداری نرم افزار هست نوتیفیکیشان های مربوط به اون بخش دریافت نکنه و نوتیفیکیشن دیگر بخش ها دریافت کنه)

[2019-08-06 11:42] behrad commented on #54
وقتی اپلیکیشن کاربر باز هست شما داخل کد می تونید مدیریت کنید نمایش نوتیفیکیشن رو
برای نوتیفیکیشن‌ها داخل جیسان دیتا یا کولپس کی نوع نوتیف رو بگذارید
و اگر کاربر داخل صفحه مورد نظر هست، جلوی نمایش نوتیفیکیشن رو بگیرید

امکان کاستوم کردن نوتیفیکیشن در مستندات چابک موجود است

[2019-08-06 11:44] hoseinjamshidi commented on #54
ممنون

[2019-08-06 11:47] hoseinjamshidi commented on #54
فقط این کار باید سمت سرور انجام بشه یا در نرم افزار موبایل؟

[2019-08-06 12:12] behrad commented on #54
بخش تنظیمات ارسال از سمت سسرور و وب سرویس
بخش مدیریت و کاستوم کردن نوتیفیکیشن داخل نرم افزار موبایل

[2019-08-06 12:12] #54 closed, assigned to nobody

[2019-08-07 10:24] hoseinjamshidi commented on #54
سلام مجدد
برای هندل کردن این مساله کدوم بخش مستندات بای مطالعه بشه؟

[2019-08-07 10:37] baghayi opened #55 "api با قابلیت تحول سیستمی توکن کاربران به چابک"
سلام
خسته نباشید
قابلیت ای، ریسورس ای چیزی دارین که بشه توکن هایی که از کاربرانمون داریم یا قراره از کاربران جدید بگیریم رو بتونیم بفرستیم به چابک؟

در اصل می خواستیم بجای اینکه اپ و وب و اینا مستقیم با چابک ارتباط برقرار کنن و توکن بفرستن
همینطوری که الان هست کار کنه و توکن برای بک ارسال بشه.
و بک توضیح توکن به سیستمی مثل چابک رو بر عهده بگیره.

ممنون می شم در این ضمینه راهنمایی کنید.

[2019-08-07 10:43] behrad commented on #54
@Husseinhj

[2019-08-07 10:46] behrad commented on #55
امکانات خاص و ویژه برای مشتری‌های اختصاصی چابک امکان پذیر هست
و ما شبیه همین مورد رو برای یک کسب و کار انجام داده ایم
در این موارد ابتدا با تیم ما مشورت کنید (به صورت تلفنی یا حضوری) و بعد تصمیم گیری انجام میشه.

[2019-08-07 12:09] Husseinhj commented on #54
<blockquote dir="rtl">
<p dir="rtl">برای هندل کردن این مساله کدوم بخش مستندات بای مطالعه بشه؟</p>
</blockquote>
<p dir="rtl">بخش<a href="https://doc.chabokpush.com/android/push-notification.html#%D8%B4%D8%AE%D8%B5%DB%8C%D8%B3%D8%A7%D8%B2%DB%8C-%D9%86%D9%85%D8%A7%DB%8C%D8%B4-%D9%88-%DA%A9%D9%84%DB%8C%DA%A9-%D8%B1%D9%88%DB%8C-%D8%A7%D8%B9%D9%84%D8%A7%D9%86"> پوش نوتیفیکیشن مستندات اندروید</a></p>

[2019-08-07 12:48] hoseinjamshidi commented on #54
در بخش سمت سرور نیازی به تغییر یا ایجاد سرویس خاصی نداره؟

[2019-08-08 09:33] hoseinjamshidi opened #56 "نمایش عنوان"
سلام وقت بخیر
زمانی که نوتیفیکیشن در دیوایس مقصد دریافت میشه این هست که عنوان نوتیفیکیشن هم در بالای نوتیفیکیشن  ارسال نمایش داده میشود هم در پایین نوتیفیکیشن
به این صورت:
عنوان نوتیفیکیشن
متن ارسالی
عنوان نوتیفیکیشن

بین متن ارسالی و عنوان پایین یک خط قرار میگیرد
برای عدم نمایش عنوان در پایین نوتیفیکیشن چکاری باید انجام شود؟

[2019-08-10 12:15] hoseinjamshidi opened #57 "مشکل در FCM"
سلام وقت بخیر
زمانی که ما نرم افزار روی موبایل میبندیم پوش دریافت نمیشود؟مشکل چیه؟
(در صورتی که زمانی که سایت به صورت لوکال اجرا میکنیم مشکلی در ارسال پوش نیست)

[2019-08-10 13:14] Husseinhj commented on #57
از کدام کتابخانه چابک استفاده می‌کنید؟

[2019-08-10 13:15] Husseinhj commented on #56
Duplicate issue #53

[2019-08-10 13:17] #56 closed, assigned to nobody

[2019-08-10 13:19] Husseinhj commented on #49
@hamidreza411

[2019-08-11 05:11] hoseinjamshidi commented on #57
در سمت سرور از سرویس touser استفاده میکنیم
در نرم افزار اندروید از این کتاب خانه ها استفاده میشود
implementation 'com.google.firebase:firebase-core:10.2.6'
    implementation 'me.leolin:ShortcutBadger:1.1.22@aar'
    implementation 'com.adpdigital.push:chabok-lib:2.17.1'

    //If you want to get the push notification, add to dependencies
    implementation 'com.google.android.gms:play-services-gc

[2019-08-11 05:12] Husseinhj commented on #57
<p dir="rtl">آیا بخش <a href="https://doc.chabokpush.com/android/troubleshoot.html">عیب‌یابی مستندات اندروید</a> را مطالعه کرده‌اید؟</p>

[2019-08-11 05:18] hoseinjamshidi commented on #57
لینک صفحه برای برنامه نویس اندروید مجموعه ارسال شد
بزودی پاسخ شمارو خواهند داد

[2019-08-11 05:20] sajad-zohrei commented on #57
سلام بله مستندات رو چک کردم

[2019-08-11 05:24] sajad-zohrei commented on #57
الان داخل پنل ما دایره زرد رنگ واسه اون پیام میبینیم ...بنظرتون مشکل از کجاست؟

[2019-08-11 05:31] Husseinhj commented on #57
<blockquote dir="rtl">
<p dir="rtl">الان داخل پنل ما دایره زرد رنگ واسه اون پیام میبینیم ...بنظرتون مشکل از کجاست؟</p>
</blockquote>
<p dir="rtl"> <a href="https://doc.chabokpush.com/panel/inbox.html#%D9%86%D9%85%D8%A7%D8%AF%D9%87%D8%A7">دایره زرد رنگ</a> به معنی در صف بود پیام شما می‌باشد و زمانی که کاربر به چابک متصل شود (اپ را باز کند) پیام چابک را دریافت می‌کند.</p>

[2019-08-11 05:31] sajad-zohrei commented on #57
یعنی اگه کاربر برنامه رو ببنده پیامی دریافت نمیکنه؟

[2019-08-11 05:57] Husseinhj commented on #57
<blockquote dir="rtl">
<p dir="rtl">یعنی اگه کاربر برنامه رو ببنده پیامی دریافت نمیکنه؟</p>
</blockquote>
<p dir="rtl">چابک برای ارسال پیام هنگامی که کاربر به سرور چابک متصل است (باز بودن اپلیکیشن) از سرویس آنی خود استفاده می‌کند (پیام چابک) و در صورت عدم اتصال به چابک (بسته بودن اپلیکیشن) اقدام به ارسال پوش‌نوتیفیکیشن می‌کند تا کاربر را از داشتن پیام چابک مطلع سازد.</p>

<p dir="rtl"><a href="htt

[2019-08-11 06:16] sajad-zohrei commented on #57
الان وقتی برنامه بسته هس واسه کاربر نوتیفیکیشن دریافت نمیکنه
تنظیمات fcm هم انجام دادم
تمام کارهایی هم که داخل مستندات گفتید انجام دادم
ورژن لایبری ها هم که بالاتر فرستادم واستون
بنظرتون مشکل کجاست؟

[2019-08-11 06:21] Husseinhj commented on #57
<p dir="rtl"><a href="https://doc.chabokpush.com/android/troubleshoot.html">بخش عیب‌یابی را با دقت مطالعه کرده‌اید</a>؟</p>
<p dir="rtl">اگر مشکل شما حل نشده است، لطفا logcat رو در حالت no filter قرار دهید و سپس یک پوش‌نوتیفیکیشن تستی ارسال کنید، در صورت بروز خطا متن خطا را برای ما در اینجا قرار دهید.</p>
<p dir="rtl"><code>trackId</code> مربوط به<a href="https://doc.chabokpush.com/rest-api/send-p

[2019-08-11 08:07] sajad-zohrei commented on #57
ببخشید یه مشکل که هست اینه که وقتی کاربر نسخه رو بروزرسانی میکنه وضعیتش داخل پنل gone میشه و دیگه واسش پوش ارسال نمیشه..باید چیکار کرد که کاربر غیرفعال نشه؟

[2019-08-12 07:41] Ario92 opened #58 "مشکل در FCM"
من از سیستم چابک برای پروژه یونیتی استفاده میکنم.
پیام های چابک زمانی که پروژه باز است دریافت میشود ولی زمانی که پروژه بسته می شود پیامی دریافت نمی شود.
sender ID هم به درستی وارد شده است

[2019-08-13 10:49] hoseinjamshidi opened #59 "گرفتن اطلاعات کاربر"
سلام وقت بخیر
آیا چابک سرویسی داره که به ما نوع گوشی کاربر و ورژن سیستم عاملشو برگردونه؟
مثلا samsung ۸.۰.۰

[2019-08-13 13:25] behrad commented on #59
شما از طریق وب سرویس کاربر، می تونید با ارائه شناسه کاربری مشخصات دستگاه رو بگیرید

https://api.doc.chabokpush.com/#/installation/installation_fetchByUserId

[2019-08-14 08:58] hoseinjamshidi commented on #59
ممنون

[2019-08-19 08:15] sepehr13494 opened #60 "مشکل در ثبت اطلاعات نوتیفیکیشن در گوشی"
با سلام من وقتی از سیستم ارسال نوتیفیکیشن به یک کاربر خاص با استفاده از متد
setUser()
اقدام به ارسال پیام میکنم.. نوتیفیکیشن ارسال میشود ولی وقتی روی آن کلیک میکنم موفق به دسترسی به محتوی داخل آن نمیشم و توی لاگ خط زیر نمایش داده میشود
D/Event: No subscribers registered for event class com.adpdigital.push.ConnectionStatus
    No subscribers registered for event class f.h

این در صورتی است که نوتیف

[2019-08-24 14:14] ahmadina opened #61 "خطا در صفحه ترکر"
سلام وقت بخیر
حساب کاربری ما تازه عملیاتی شده . زمانی که به صفحه
https://panel.push.adpdigital.com/front/tracker
مراجعه کنیم. درخواستی که بصورت ایجکس زده میشه حاوی خطای زیر است
message: "Error from database not found: xxx-tracker-stats"
name: "Error"
status: 500

ممنون میشم راهنمایی کنید

[2019-08-24 15:34] behrad commented on #61
سلام
بچه‌ها این موضوع رو فردا برای شما بررسی و رفع می کنند
@amir-yaghoobi

[2019-08-25 05:37] amir-yaghoubi commented on #61
به خاطر مشکل پیش‌امده از شما عذرخواهی میکنیم

مشکل برطرف شد براتون.

[2019-08-25 06:45] ahmadina commented on #61
وقت بخیر.
مرسی ممنون

[2019-08-25 06:45] #61 closed, assigned to amir-yaghoubi

[2019-08-25 06:56] ahmadina opened #62 "مشکل عدم ذخیره سازی کاربر در پنل"
مشکلی وجود داشت که مرتفع شد.

[2019-08-25 06:57] #62 closed, assigned to nobody

[2019-08-25 09:52] ahmadina opened #63 "سوال درباره ساختار ذخیره سازی کاربر"
وقت بخیر

- آیا در چابک میشه آی دی کاربر را تغییر داد؟
مثلا سناریویی را در نظر بگیرید که کاربر وارد اپلیکیشن شده و به عنوان میهمان برایش یک حساب کاربری ساخته میشود و سپس وارد حساب خود میشود آیا راهی هست بتوان آی دی کاربر را بعد از ورود به حساب کاربری مثلا به چیزی مثل شماره موبایل تغییر داد؟

- ما با سناریویی مواجه شدیم که کاربر وارد اپ شده و ثبت نام کرده سپس بدون خروج اقدام به حذف اپ میکند و مجدد

[2019-08-25 09:56] behrad commented on #63
درود بر شما
چابک اتفافن با دید ردگیری کاربر طراحی شده و مثل یک موبایل سی‌آر‌ام برای شما عمل می کنه

`registerAsGuest(guestID)`

`register( USERID (e.g. MOBILE)`

اگر نصب‌ها روی یک دستگاه باشد، خود چابک این موضوع را برای شما هندل می کند

هر دو مورد به سادگی در پیشفرض چابک قابل انجام است.
لطفن تست کنید و اگر رفتار مورد نظر شما صورت نگرفت سوال بپرسید

[2019-08-25 10:22] ahmadina commented on #63
من کاربر را به این شکل به صورت میهان در لحظه ورود به اپ در نظر میگیرم و به عنوان میهمان در چابک ثبتش میکنم
اما مشکلی که هست پس از ورورد کاربر به حساب کاربریش و فراخوانی متد رجیستر و ارسال شماره موبایل به عوان یوز آی دی کاربر جدید ساخته میشود در سیستم و دو دستگاه در چابک ثبت میشود

[code]

[2019-08-25 10:24] ahmadina commented on #63
و نکته دیگه اینکه در متد ثبت کاربر به عنوان میهمان ورودی برای آی دی وجود ندارد در ری اکت نیتیو و تنها یک حالت را شامل میشود آن هم ایجاد یک کاربر میهمان با آی دی خود چابک بدون گرفتن ورودی از سمت ما

[2019-08-25 11:07] behrad commented on #63
اگر از نسخه ریکت نیتیو استفاده می کنید، ممکن هست این متد هنوز روی این نسخه نباشد
آقای حبیبی بررسی می کنند اگر نیاز به ثبت دستی آیدی میهمان دارید این قابلیت رو روی ریکت نیتیو اضافه می کنیم
@Husseinhj

[2019-08-25 11:10] behrad commented on #63
دستگاه قبلی کاربر پاک خواهد شد
اگر صفحه را رفرش کردید یا بعد از چند دقیقه همچنان باقی بود لطفن برای بررسی بیشتر اپ آیدی و یوزر آیدی این مورد رو در صورت امکان برای ما ارسال کنید تا بتونیم بررسی کنیم.

[2019-08-25 11:31] ahmadina commented on #63
درسته اما متاسفانه این اتفاق نمیوفتد و دو کاربر ثبت میشود
info@azinro.com

در پنل جاری دو کاربر وجود دارد که دقیقا با همین شرایط از یک دیوایس هستند

[2019-08-25 11:36] behrad commented on #63
در پنل شما در حال حاضر فقط دو دستگاه وجود دارد با شناسه‌های کاربری و حتی پلتفرم متفاوت و از این حیث دو دستگاه یکسانی وجود ندارد
<img width="800" alt="Screen Shot 1398-06-03 at 16 04 20" src="https://user-images.githubusercontent.com/2151889/63649398-3ca1e780-c752-11e9-9a88-0fcefce5a416.png">

[2019-08-25 11:37] ahmadina commented on #63
پنل پروداکشن ما الان دو دیوایس دیگه رو نشون میده
که یکی از کاربران یوزر آی دی آن با شماره موبایل است
appId: azinro

[2019-08-25 11:43] behrad commented on #63
<img width="800" alt="Screen Shot 1398-06-03 at 16 04 20" src="https://user-images.githubusercontent.com/2151889/63649435-d2d60d80-c752-11e9-8a76-96ed45b2200b.png">

مورد اول توی عکس نشان میدهد که یک بار سیمولیتور با گوشی نوع گوگل بیلد گرفته شده یک بار دیگه با گوشی ناشناخته
مورد دوم نشان می‌‌دهد نسخه سیستم عامل اندروید یک بار ۹ بوده یک بار ۵
طبیعتن وقتی با انواع مختلف گوشی بیلد بگیرید چابک نمی تون

[2019-08-25 11:45] ahmadina commented on #63
فکر میکنم اشتباهی در پنل بررسی شده پیش اومده چون در بخش کاربران پنل ما چنین چیزی رو نشون میده
<img width="856" alt="Screen Shot 2019-08-25 at 4 08 07 PM" src="https://user-images.githubusercontent.com/5356553/63649477-758e8c00-c753-11e9-9446-715fae2e8404.png">

[2019-08-25 11:58] behrad commented on #63
کاملن حق با شماست
ما پنل سندباکس شما رو بررسی کردیم با همون ایمیل :)

روی پنل پروداکشن شما، این موضوع وجود داره درسته
فرآیند مدیریت دستگاه‌های کاربر همیشه در کمتر از یک دقیقه عمل می‌کند به استثنا امروز که بطور دستی این فرایند رو با تاخییر اجرا می کنیم

این فرایند در طول امروز تا امشب تمام دستگاه‌های موجود در چابک را به روز خواهد کرد
احتمالن تا عصر یا شب دستگاه قبلی پاک می شود
لطفن مجددن بررسی بفرم

[2019-08-25 12:10] ahmadina commented on #63
پس با توجه به توضیحاتی که داده شد احتمالا مشکلی نباید وجود داشه باشه و این اتفاق خودش میوفته و فرایند از سمت ما درست طی شده؟

[2019-08-25 12:15] behrad commented on #63
مشکلی نیست بله
شما به ظاهر درست پیاده سازی رو انجام دادید

غروب یا فردا زمانی که فرایند حذف انجام شد تست‌های خودتون رو  انجام بدید
اگر موردی بود بفرمایید

[2019-08-27 08:52] #63 closed, assigned to nobody

[2019-08-27 08:54] ahmadina opened #64 "سوال درباره کاربران تست گوگل پلی"
وقت بخیر
یک سوالی داشتم
وقتی اپلیکیشن رو در گوگل پلی استور دپلوی میکنیم گوگل پلی اپ رو برای فاز تست در هر استور با یک دیوایس مشخص از آی اس پی گوگل پروکسی نصب میکنه و مشکلی که اینجا ایجاد میشه اینه که حدود ۴ تا کاربر غیر واقعی در چابک ثبت میشه هر سری
آیا راهی هست چابک این کاربران رو هندل بکنه و ذخیره نشن؟
مشترکا مشخصات یکسان مشخصی دارن کاربرانش

[2019-08-27 11:55] behrad commented on #64
لطفن اطلاعات این کاربران گوگل پلی رو بفرستید تا بررسی کنیم.
می تونید جزییات رو به ادرس شرکت ایمیل بزنید :)

[2019-08-27 12:34] ahmadina commented on #64
حتما. ممنون میشم
به چه ایمیلی ارسال کنم؟

[2019-08-27 12:47] behrad commented on #64
`info AT chabok DOT io`

[2019-08-27 12:49] ahmadina commented on #64
ممنونم.
البته همین الان پنل چابک مارو پروداکشنش رو ببینید کلی دیوایس ال جی با شرایط مشابه هست که از گوگل هستن . زبان هاشون لوکیل های مختلفن

[2019-08-27 13:52] nksft opened #65 "Your API access has been locked"
هنگام ارسال پوش نوتیف این خطا را با کد ۴۲۳ دریافت کنیم:
Your API access has been locked, please contact support for more info...
از این وب سرویس استفاده می کنیم:
https://sandbox.push.adpdigital.com/api/push/toUsers
چطوری باید حلش کنیم؟

[2019-08-27 14:58] behrad commented on #65
لطفن ایمیل حساب یا اپ آیدی خودتون رو برای ما ارسال کنید جهت بررسی موضوع
@amir-yaghoobi